{% extends "base.html" %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        {% comment %} <h1 class="h3 mb-0 text-gray-800">Items</h1>
        <a href="{% url 'items' %}">Items</a> {% endcomment %}
        <a href="{% url 'items' %}">
            <span  class="h3 mb-0 text-gray-800">Items</span></a>
    </div>
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">
            {{item.title}}
        </h5>
        <p class="m-0 font-weight-normal text-gray-800">{{item.date_found}}</p> 
    </div>
    {% comment %} <img class="card-img-top" src="{{item.photo.url}}" alt=""> {% endcomment %}
    {% if item.photo %}
        <img class="card-img-top" src="{{ item.photo }}" alt="Item Photo">
    {% else %}
        <p><em>No image available</em></p>
    {% endif %}


    <div class="card-body">
        {{item.description}}
    </div>

    {% comment %} claim stuff {% endcomment %}
    <button class="btn btn-outline-success" data-toggle="modal" data-target="#claimModal">Claim</button>
 
    <!-- Inquiry Modal -->
    <div class="modal fade" id="claimModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="claimmodalLabel">Claim</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <input type="hidden" name="user_id" value="{{ user.id}}">
                        {% else %}
                        <input type="hidden" name="user_id" value="0">
                        {% endif %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <div class="form-group">
                            <label for="item_name" class="col-form-label">Item:</label>
                            <input type="text" name="item" class="form-control" value="{{ item.title }}">
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" name="name" class="form-control" 
                            {% if user.is_authenticated %}
                            value="{{ user.first_name }} {{ user.last_name }}"
                            {%endif%}
                            required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" name="email" class="form-control" 
                            {% if user.is_authenticated %}
                            value="{{ user.email }}"
                            {%endif%}
                            required>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-form-label">Message:</label>
                            <textarea name="message" class="form-control"></textarea>
                        </div>
                        <hr>
                        <input type="submit" value="Send" class="btn btn-block btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>



<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock content %}