{% extends "base.html" %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Items</h1>
    </div>

    <div class="row">
        
        <!-- Earnings (Monthly) Card Example -->
        {% if items %}
        {% for item in items  %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold text-primary">
                                    {{item.title}}
                                </h5>
                                <p class="m-0 font-weight-normal text-gray-800">{{item.date_found}}</p> 
                            </div>
                            <img class="card-img-top" src="{{item.photo.url}}" alt="">
                            <div class="card-body">
                                {% comment %} Description of the item.....
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis odio ut leo tristique ornare. Pellentesque pretium nulla id enim efficitur vulputate. Sed at ligula nunc. Fusce felis nibh, convallis quis scelerisque ut, scelerisque vel massa. Nam eu libero id. {% endcomment %}
                                {{item.description}}
                            </div>
                            <a href="{%url 'item' item.id%}" class="btn btn-block btn-success">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
          <p>No items found!</p>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {% if listings.has_other_pages %}
                <ul class="pagination">
                    <!-- Previous page button start -->
                    {% if listings.has_previous %}
                    <li class="page-item">
                        <a href="?page={{listings.previous_page_number}}" class="page-link">
                        &laquo;
                        </a>
                    </li>
                    {%else%}
                    <li class="page-item disabled">
                        <a href="" class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    <!-- Previous page button end -->
                    <!-- Loop through pages START -->
                    {% for i in listings.paginator.page_range %}
                    {% if listings.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {%else%}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <!-- Loop through pages END -->
                    <!-- Next page button start -->
                    {% if listings.has_next %}
                    <li class="page-item">
                        <a href="?page={{listings.next_page_number}}" class="page-link">
                        &raquo;
                        </a>
                    </li>
                    {%else%}
                    <li class="page-item disabled">
                        <a href="" class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                    <!-- Next page button end -->
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock content %}